@tailwind base;
@tailwind components;
@tailwind utilities;


.Dropdown{
    position: absolute;
    top:4rem;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid white;
  
}
.Dropdown ::before{
    content: '';
    position: absolute;
    top:3rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);

}